html, body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #011627;
	overflow: visible;
	
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
  border: 3px solid #011627;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

#root ::-webkit-scrollbar {
	width: 7px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 7px;
}

#root ::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.4);
	border: 0;
}