#nav {
	background-color: #011627;
}
	#nav nav {
		height: 80px;
	}

.active {
	color: #2ec4b6 !important;
}

.tm-sidebar-left {
	width: 25vw;
}

.tm-main {
	padding-left: 0 !important;
}

.tm-topbar {
	border-bottom: 1px solid #e5e5e5;
}

.nav-logo {
	height: 30px;
}

.feed-tile {
	object-fit: cover;
	min-width: 100%;
	min-height: 170px;
	max-height: 280px;
	background-color: #efefef;
}

.tile-header {
	margin-bottom: 0.3rem !important;
}

.flat {
	padding: 0 !important;
	text-align: left !important;
	text-transform: none;
}

.feed-modal {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

.btn-overlay {
	width: 10rem !important;
}

/* Medium */
@media (min-width: 960px) {
	.tm-main {
		margin-left: 25vw;
	}
}

/* Small */
@media (max-width: 959px) {
	#nav nav {
		height: 65px;
	}

	.tm-main {
		margin-left: 0;
	}
}