#nav {
	background-color: #011627;
}
	#nav nav {
		height: 80px;
	}

.active {
	color: #2ec4b6 !important;
}

.tm-sidebar-left {
	width: 25vw;
}

.tm-main {
	padding-left: 0 !important;
}

.tm-topbar {
	border-bottom: 1px solid #e5e5e5;
}

.nav-logo {
	height: 30px;
}

.no-page {
	height: 200px;
}

.feed-tile {
	object-fit: cover;
	min-width: 100%;
	min-height: 170px;
	max-height: 280px;
	background-color: #efefef;
}

.tile-header {
	margin-bottom: 0.3rem !important;
}

.flat {
	padding: 0 !important;
	text-align: left !important;
	text-transform: none;
}

.feed-modal {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

.btn-overlay {
	width: 10rem !important;
}

.pet-profile-cover {
	height: 280px;
	background-color: #efefef;
	background-size: cover;
	background-position: center center;
	display: block;
}

.notif-badge {
	height: 6px !important;
	min-width: 6px !important;
	width: auto !important;
	padding: 0 !important;
}

.notif-bell {
	padding: 0 5px !important;
}

.notif-wrapper {
	line-height: 25px !important;
}

.notif-panel {
	z-index: 999 !important;
}

/* Medium */
@media (min-width: 960px) {
	.tm-main {
		margin-left: 25vw;
	}
	
	.full {
		height: calc(100vh - 80px);
	}
	
	.right-nav {
		margin-right: 40px;
	}
}

/* Small */
@media (max-width: 959px) {
	#nav nav {
		height: 65px;
	}

	.tm-main {
		margin-left: 0;
	}
	
	.full {
		height: calc(100vh - 65px);
	}
	
	.right-nav {
		margin-right: 15px;
	}
}